// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Patterns added by WIN team
@import "patterns/featured-content";
@import "patterns/step-by-step-nav";
@import "components/homepage-top";
@import "patterns/flash-card";
@import "patterns/inverted-button";
@import "patterns/autocomplete";
@import "patterns/action-buttons";
@import "patterns/app-content-nav";
@import "components/global-header";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.prototype-home {
	.govuk-header__logo {
		svg {
			display: none;
		}
	}

	.govuk-header__container {
		border-bottom: none;
		padding-bottom: 10px
	}

	.govuk-header {
		display: none;
		border-bottom: none;
	}
}

.article-title a {
	text-decoration: none;
}

.article-nav-links {
	clear: both;
	overflow: auto;

	.previous-link,
	.next-link {
		@extend %govuk-heading-m;

		a {
			text-decoration: none;
			&:hover {
				span:first-child {
					text-decoration: underline;
				}
			}
		}
	}

	.previous-link {
		float: left;
		text-align: left;
	}

	.next-link {
		float: right;
		text-align: right;
	}
}

.govuk-header--apprenticeships {
	// border-bottom: none;
	padding-bottom: 10px;

	.govuk-header__content {
		text-align: right;
		float: right;
	}
}

.campaign-style {
	$theme-colour: #ea5905;

	p,
	h1,h2,h3,h4,h5,
	ul, ol,
	nav,
	a:not(.govuk-header__logotype-text),
	.govuk-button {
		// font-family: Arial !important;
	}

	%govuk-heading-xl,
	%govuk-heading-l,
	%govuk-heading-m,
	%govuk-heading-s {
		color: govuk-colour("grey-1");
		font-weight: normal;
	}

	.govuk-heading--campaign {
		color: $theme-colour;
		font-weight: bold;
	}

	.campaign-nav {
		margin-bottom: -10px;
		$padding-top-bottom: 10px;
		padding-bottom: $padding-top-bottom + 4;
		padding-top: $padding-top-bottom;
		background: $theme-colour;
		clear: both;

		.govuk-header__logotype {
			display: none;
		}

		.govuk-header__container {
			border: none;
		}

		.govuk-header__logo {
			width: 25%;
		}

		.govuk-header__content {
			width: 72.5%
		}

		.govuk-header__navigation {
			float: right
		}
	}

	.full-width-image {
		overflow: hidden;
		width: 100%;
		max-height: 300px;
		img {
			width: 100%;
			margin-top: -15%;
			filter: grayscale(100%);
		}
	}

	.app-aside {
		background: govuk-colour("grey-4");
		border-top: $govuk-gutter/3 solid $govuk-border-colour;
		padding: $govuk-gutter/2 $govuk-gutter;
	}
}

.govuk-button--xl {
	padding-top: govuk-spacing(3);
	padding-right: govuk-spacing(4);
	padding-bottom: govuk-spacing(3);
	padding-left: govuk-spacing(4);
	font-weight: bold;
	margin: $govuk-gutter 0;
}