<h3 class="govuk-heading-l">
	Basic (linear)
</h3>

<p>
	A very basic linear journey, with content split as granularly as possible.
</p>

<p>
	This version intentionally <span class="govuk-!-font-weight-bold">does not</span> allow users to:
</p>

<ul class="govuk-list govuk-list--bullet">
	<li>
		skip content
	</li>
	<li>
		save progress
	</li>
	<li>
		search
	</li>
	<li>
		browse all content
	</li>
</ul>

<a href="basic-linear/version-1/" class="govuk-button govuk-button--start">
	Start
</a>

<h3 class="govuk-heading-m">
	Versions
</h3>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="basic-linear/version-1/">version 1</a> (last updated 19th July 2018)
	</li>
</ul>