<h3 class="govuk-heading-l">
	Campaign-style
	<span class="govuk-caption-l">
		Unbranded
	</span>
</h3>

<p>
	Home page structured as a typical website. Potentially making use of rich content such as videos and images.
</p>

<a href="campaign/version-1/" class="govuk-button govuk-button--start">
	Start
</a>

<h3 class="govuk-heading-m">
	Versions
</h3>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="campaign/version-1/">version 1</a> (started 2018-08-07, updated 2018-08-08)
	</li>
</ul>