<h3 class="govuk-heading-l">
	&ldquo;Microsite&rdquo;
	<span class="govuk-caption-l">
		GOV.UK look and feel
	</span>
</h3>

<p>
	Home page structured as a typical website. Potentially making use of rich content such as videos and images.
</p>

<a href="microsite/version-2/" class="govuk-button govuk-button--start">
	Start
</a>

<h3 class="govuk-heading-m">
	Versions
</h3>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="microsite/version-2/">version 2</a> (last updated 2018-08-07)
	</li>
	<li>
		<a href="microsite/version-1/">version 1</a> (last updated 2018-07-25)
	</li>
</ul>