<h3 class="govuk-heading-l">
	Non-GDS
</h3>

<p>
	Home page structured as a typical website. Potentially making use of rich content such as videos and images.
</p>

<a href="non-gds/version-2/" class="govuk-button govuk-button--start">
	Start
</a>

<h3 class="govuk-heading-m">
	Versions
</h3>

<ul class="govuk-list govuk-list--bullet">
	<li>
		<a href="non-gds/version-2/">version 2</a> (last updated 31st July 2018)
	</li>
	<li>
		<a href="non-gds/version-1/">version 1</a> (last updated 25th July 2018)
	</li>
</ul>