{% extends "./layout--non-gds.html" %}

{% set currentPage = 'choose-apprenticeship-training' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block main %}
<div class="full-width-image">
	<img src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" style="margin-top: -20%">
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		{% block content %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl govuk-heading--campaign govuk-!-margin-top-8">
					Choose apprenticeship training
				</h1>
				<p>
					There are 2 different types of apprenticeships to choose from:
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="https://www.gov.uk/government/collections/apprenticeship-standards">apprenticeship standards</a> - each standard covers a specific occupation and sets out the core skills, knowledge and behaviours an apprentice will need; they are developed by employer groups known as <a href="https://www.gov.uk/government/publications/future-of-apprenticeships-in-england-guidance-for-trailblazers">‘trailblazers’</a>
					</li>
					<li>
						<a href="https://www.gov.uk/government/publications/a-guide-to-apprenticeships">apprenticeship frameworks</a> - a series of work-related vocational and professional qualifications, with workplace- and classroom-based training
					</li>
				</ul>

				<h2 class="govuk-heading-l govuk-!-margin-top-8">				
					To choose training for your apprenticeship:
				</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						use the ‘<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">Find apprenticeship training’</a> service to select an approved apprenticeship training provider
					</li>
					<li>
						if you are using a standard, use the <a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations">register of apprenticeship assessment organisations</a> to select an approved assessment organisation.
					</li>
				</ul>

				<p>
					If you’re a public sector body, you will need to follow <a href="https://www.gov.uk/guidance/public-sector-procurement-policy">Public Contracts Regulation 2015</a> when selecting a training provider.
				</p>

				<h2 class="govuk-heading-l govuk-!-margin-top-8">				
					Agree a price and payment schedule
				</h2>
				<p>
					You and your training provider must agree a total price for each apprenticeship, which includes the costs of training and assessment.
				</p>
				<p>
					For standards this must include the cost of the end-point assessment agreed with the apprentice assessment organisation.
				</p>
				<p>
					You will need to choose apprenticeship training using the name of either the apprenticeship or training provider.
				</p>

				<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" class="govuk-button govuk-button--xl">
					Find apprenticeship training
				</a>

				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

				{{ nextLink('Find an apprentice', 'find-an-apprentice') }}
			</div>
		</div>
		{% endblock %}
	</main>
</div>
{% endblock %}