{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block main %}
<div class="full-width-image">
	<img src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" style="margin-top: -20%">
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		{% block content %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl govuk-heading--campaign govuk-!-margin-top-8">
					Costs of employing an apprentice
				</h1>
				<p>
					You can get help from the government to pay for apprenticeship training.  The amount you get depends on whether you pay the apprenticeship levy or not.  You will pay the levy if you’re an employer with a pay bill over £3 million each year.
				</p>
				<a href="http://estimate-my-apprenticeship-funding.sfa.bis.gov.uk/" class="govuk-button govuk-button--xl">
					Estimate your costs
				</a>
				<p> 
					Apprenticeship funding is devolved and so how you get your funds and pay for training depends on whether you’re in:
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li><a href="#">England</a></li>
					<li><a href="#">Scotland</a></li>
					<li><a href="#">Wales</a></li>
					<li><a href="#">Northern Ireland</a></li>
				</ul>

				<h2 class="govuk-heading-l govuk-!-margin-top-8">
					I am an employer that pays the apprenticeship levy
				</h2>
				<p>
					If you pay the apprenticeship levy, you’ll receive funds to spend on training and assessing your apprentices. The government will add 10% to these funds.
				</p>
				<a href="https://www.gov.uk/guidance/pay-apprenticeship-levy" class="govuk-button govuk-button--xl">
					I pay the apprenticeship levy
				</a>


				<h2 class="govuk-heading-l govuk-!-margin-top-8">
					If you don’t need to pay the levy
				</h2>
				<p>
					You pay 10% towards the cost of training and assessing your apprentice.  The government will pay the rest (90%) up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum</a>. They’ll pay it directly to the training organisation. 
				</p>
				<p>
					You will need to:
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						agree a payment schedule with the training organisation
					</li>
					<li>
						pay them directly for the training
					</li>
				</ul>


				<h2 class="govuk-heading-l govuk-!-margin-top-8">
					Paying for your apprentices using a transfer of funds from another employer
				</h2>
				<p>
					If you’re an employer who’s received a transfer of funds from another employer, you can use these funds to pay for your apprenticeships.
				</p>
				<p>
					You will receive your funds and pay for your apprenticeships using the apprenticeship service. 
				</p>
				<a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" class="govuk-button govuk-button--xl">
					I’ve received funds from another employer
				</a>


				<h2 class="govuk-heading-l govuk-!-margin-top-8">
					Additional payments from the government:
				</h2>
				<p>
					Additional payments of £1,000 may be available to you and your training provider at the start of an apprenticeship.  This will be paid (in 2 instalments) when you take on an apprentice who’s between:
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						16-18 years old
					</li>
					<li>
						19-24 years old and has previously been in care or who has a local authority education, health and care plan
					</li>
				</ul>
				<p>
					From August 2018, apprentices will receive one payment of £1000 from the government, if they have been in the care of the local authority.  
				</p>

				<hr class="govuk-section-break govuk-section-break--xl">
				
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<div class="app-related-items app-aside">
							<h3 class="govuk-heading-m">
								Further reading:
							</h3>
							<ul class="govuk-list">
								<li>
									<a href="#">Apprenticeship Funding: How it works</a>
								</li>
								<li>
									<a href="#">How to register and use the apprenticeship service as an employer</a>
								</li>
								<li>
									<a href="#">Apprenticeship Funding rules</a>
								</li>
								<li>
									<a href="#">Pay apprenticeship levy</a>
								</li>
								<li>
									<a href="#">Transferring unused apprenticeship funds to another employer</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</main>
</div>
{% endblock %}