{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block main %}
<div class="full-width-image">
	<img src="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" style="margin-top:-8%">
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		{% block content %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl govuk-heading--campaign govuk-!-margin-top-8">
					End-point assessments
				</h1>

				<p>
					End-point assessment is an assessment of the knowledge, skills and behaviours which your apprentice has learnt throughout an apprenticeship standard. Your apprentice can’t achieve an apprenticeship standard without satisfying all the requirements of the assessment plan, including the end-point assessment.
				</p>
				<p>
					You must select an organisation to deliver the end-point assessment from the register of apprentice assessment organisations (RoAAO) and agree a price with this organisation for the end-point assessment.
				</p>
				<p>
					Although the provider will be involved in arrangements for end-point assessment, the assessment itself must be independent.
				</p>
				<p>
					The training provider must contract with the apprentice assessment organisation on your behalf and have a written agreement in place with the apprentice assessment organisation to make payment to them for conducting the end-point assessment.
				</p>
				<p>
					Where you do not know the details of the apprentice assessment organisation at the start of the apprenticeship, then once this has been confirmed, you must notify your chosen training provider who will enter the price for end-point assessment.
				</p>
				<p>
					We expect that the cost of end-point assessment should not usually exceed 20% of the funding band maximum.
				</p>

				<h2 class="govuk-heading-l govuk-!-margin-top-8">
					Certification
				</h2>

				<p>
					When your apprentice successfully completes their apprenticeship they will be awarded a certificate. The way they receive it depends on the type of apprenticeship they complete.
				</p>
				<p>
					For apprenticeship standards the apprenticeship assessment organisation will request the certificate from the Education & Skills Funding Agency.
				</p>
				<p>
					For apprenticeship frameworks your training provider will apply for a certificate from the Federation for Industry Sector Skills & Standards.
				</p>

				<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

				<div class="app-content-nav">
					<a href="costs-of-employing-an-apprentice" class="app-content-nav__next">
						Next: <span>Costs of employing an apprentice</span>
					</a>
				</p> -->
			</div>

			<div class="govuk-grid-column-full">
				<hr class="govuk-section-break govuk-section-break--xl">

				<div class="app-action-buttons">
					<a class="app-action-buttons__button" href="/{{feature}}/{{sprint}}/about">
						<span>I want to</span> find out more about types of apprenticeships
					</a>

					<a class="app-action-buttons__button" href="/{{feature}}/{{sprint}}/costs-of-employing-an-apprentice">
						<span>I want to</span> find out how much this is going to cost me
					</a>

					<a class="app-action-buttons__button" href="#">
						<span>I want to</span> find out why I should come to the government to help me take on an apprentice
					</a>

					<a class="app-action-buttons__button" href="#">
						<span>I want to</span> register on the apprenticeship service
					</a>

					<a class="app-action-buttons__button" href="#">
						<span>I want to</span> leave feedback on a training provider
					</a>
				</div>
			</div>
		</div>
		{% endblock %}
	</main>
</div>
{% endblock %}