{% extends "./layout-qa.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include 'includes/back-link.html' %}
			
			<h1 class="govuk-heading-xl">
				Tell us about your business
			</h1>

			<form action="question-3">
				{% from "radios/macro.njk" import govukRadios %}
				{% from "input/macro.njk" import govukInput %}

				<h2 class="govuk-heading-m">
					What is your business name? (optional)
				</h2>
				{{ govukInput(
					{
						label:
						{
							text: "Business name (optional)"
						},
						value: data['business-name'],
						id: "business-name",
						name: "business-name"
					})
				}}

				{{ govukRadios(
					{
						classes: "govuk-radios",
						idPrefix: "levy",
						name: "levy",
						fieldset:
						{
							legend:
							{
								text: "Is your monthly pay bill more than £3 million?",
								isPageHeading: no,
								classes: "govuk-fieldset__legend--m"
							}
						},
						hint:
						{
							html: 'This information is used to determine how your apprenticeships are funded.'
						},
						items:
						[
						{
							value: "yes",
							text: "Yes",
							checked: data["levy"] == "yes"
						},
						{
							value: "no",
							text: "No",
							checked: data["levy"] == "no"
						},
						{
							value: "dont-know",
							text: "I don't know",
							checked: data["levy"] == "dont-know"
						}
						]
					})
				}}

				{% from "button/macro.njk" import govukButton %}
				{{ govukButton({
					text: "Save and continue"
				}) }}
			</form>
		</div>
	</div>
</main>

{% endblock %}
