article.featured {
	background: #f0f0f0;
	margin-bottom: 30px;
	.featured-wrapper {
		padding: 30px;
		display: inline-block;
	}
	&.featured--action {
		background: govuk-colour("blue");
		
		p,
		a {
			color: #fff
		}

		.govuk-button {
			color: govuk-colour("blue");
			background: white;
		}
	}
}