{% extends "layout.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include '../includes/_back-link.html' %}

			<h1 class="govuk-heading-xl">
				Apprenticeship levels
			</h1>

			<p>
				There are a number of different levels of apprenticeships.  
			</p>

			{% from "table/macro.njk" import govukTable %}
			{{ govukTable({
				caption: "",
				firstCellIsHeader: true,
				head: [
				{
					text: "Name"
				},
				{
					text: "Level"
				},
				{
					text: "Equivalent educational level"
				}
				],
				rows: [
				[
				{
					text: "Intermediate"
				},
				{
					text: "2"
				},
				{
					text: "5 GCSE passes"
				}
				],
				[
				{
					text: "Advanced"
				},
				{
					text: "3"
				},
				{
					text: "2 A level passes"
				}
				],
				[
				{
					text: "Higher"
				},
				{
					text: "4, 5, 6 and 7"
				},
				{
					text: "Foundation degree and above"
				}
				],
				[
				{
					text: "Degree"
				},
				{
					text: "6 and 7"
				},
				{
					text: "Bachelor’s or master’s degree"
				}
				]
				]
			}) }}

			<a href="../costs" class="govuk-button">
				Continue
			</a>
		</div>
		
		<div class="govuk-grid-column-one-third">

		</div>
	</div>
</main>

{% endblock %}