{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<article class="featured featured--action">
		<div class="featured-wrapper">
			<h1 class="govuk-heading-xl article-title govuk-!-margin-bottom-6">
				<span class="govuk-caption-l">
					Employers' guide<span class="govuk-visually-hidden">:</span>
				</span>
				<a href="/{{feature}}/{{sprint}}/question-1">Find out about apprenticeships</a>
			</h1>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<p class="govuk-body-l">
						Find out more about what an apprenticeship is and how they’re structured - additionally, which different levels of apprenticeships are available for your business. 
					</p>

					<a href="/{{feature}}/{{sprint}}/question-1" class="govuk-button govuk-button--start app-button--inverted govuk-!-margin-bottom-2">
						Get started
					</a>
				</div>

				<div class="govuk-grid-column-one-third">
					<!-- <img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%"> -->
				</div>
			</div>
		</div>
	</article>

	<hr class="govuk-section-break govuk-section-break--xl">

	<h2 class="govuk-heading-l">
		More information about apprenticeships
	</h2>
	<div class="govuk-grid-row">
		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/6053/man-hands-reading-boy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">
					Apprenticeship service latest news and releases
				</a>
			</h1>

			<p>
				We update and change the apprenticeship service regularly - taking into account what employers have said they need. Find out the latest releases and scheduled plans for the apprenticeship service.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->

		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/1282268/pexels-photo-1282268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">The apprenticeship service and who should use it</a>
			</h1>

			<p>
				Find out how who should use the apprenticeship service and what to do if you’re an employer who doesn’t pay the apprenticeship levy.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->

		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/41195/bank-business-cash-coin-41195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="#">How much does it cost to employ an apprentice</a>
			</h1>

			<p>
				Estimate the cost to you to take on an apprentice.  Find out more about how to fund your apprenticeships.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->
	</div>

	<div class="govuk-grid-row">
		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">What types of apprenticeship are available?</a>
			</h1>

			<p>
				There are different levels of apprenticeship training to suit your business needs.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->

		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">How the government can help you fund apprenticeships</a>
			</h1>

			<p>
				There is extra support for small employers who take on an apprentice.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->

		<!-- COLUMN -->
		<div class="govuk-grid-column-one-third">
			<img src="https://images.pexels.com/photos/824300/pexels-photo-824300.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" class="govuk-!-margin-bottom-2">

			<h1 class="govuk-heading-m article-title">
				<a href="#">Things you may not know</a>
			</h1>

			<p>
				If you’re thinking of taking on an apprentice, here are some useful things for you to know.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END COLUMN -->
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">
							Estimate the cost of hiring an apprentice
						</a>
					</h1>

					<p>
						Find out the cost of taking on an apprentice and what funding help you might receive. 
					</p>

					<p>
						Use this tool to estimate how much:
					</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>
							it might cost to take on apprentices in your business
						</li>

						<li>
							contribution you’ll get from the government
						</li>
					</ul>

					<a href="{{sprint}}/estimator" class="govuk-button app-button--inverted">
						Estimate the cost of apprenticeships
					</a>
				</div>
			</article>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank">Find a Training provider</a>
					</h1>

					<p>
						For employers looking to take on apprentices.
					</p>

					<p>
						Use this service to:
					</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>
							search for apprenticeship training by job role or keyword
						</li>

						<li>
							find training providers who offer the apprenticeship training you choose
						</li>

						<li>
							find a named training provider you want to use
						</li>
					</ul>

					<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" class="govuk-button app-button--inverted">
						Find a training provider
					</a>
				</div>
			</article>
		</div>
		<!-- END HALF -->
	</div>
</main>

{% endblock %}
