{% extends "./layout-qa.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include 'includes/back-link.html' %}
			
			<h1 class="govuk-heading-xl">
				Tell us about your business
			</h1>

			<form action="summary">
				{% from "radios/macro.njk" import govukRadios %}
				{{ govukRadios(
					{
						classes: "govuk-radios--inline",
						idPrefix: "found-apprentice",
						name: "found-apprentice",
						fieldset:
						{
							legend:
							{
								text: "Have you found the person who will be starting an apprenticeship with your business?",
								isPageHeading: no,
								classes: "govuk-fieldset__legend--m"
							}
						},
						hint:
						{
							html: "If you have already found the person you will be taking on as an apprentice the we won’t show you guidance about finding an apprentice."
						},
						items:
						[
						{
							value: "yes",
							text: "Yes"
						},
						{
							value: "no",
							text: "No"
						}
						]
					})
				}}

				{{ govukRadios(
					{
						classes: "govuk-radios--inline",
						idPrefix: "chosen-apprenticeship",
						name: "chosen-apprenticeship",
						fieldset:
						{
							legend:
							{
								text: "Have you decide which apprenticeships will be best suited to your business needs?",
								isPageHeading: no,
								classes: "govuk-fieldset__legend--m"
							}
						},
						items:
						[
						{
							value: "yes",
							text: "Yes"
						},
						{
							value: "no",
							text: "No"
						}
						]
					})
				}}

				{{ govukRadios(
					{
						classes: "govuk-radios--inline",
						idPrefix: "found-provider",
						name: "found-provider",
						fieldset:
						{
							legend:
							{
								text: "Have you chosen a training provider?",
								isPageHeading: no,
								classes: "govuk-fieldset__legend--m"
							}
						},
						items:
						[
						{
							value: "yes",
							text: "Yes"
						},
						{
							value: "no",
							text: "No"
						}
						]
					})
				}}

				<input type="hidden" name="personalised" value="true">

				{% include './includes/_answers.html' %}

				{% from "button/macro.njk" import govukButton %}
				{{ govukButton({
					text: "Save and continue"
				}) }}
			</form>
		</div>
	</div>
</main>

{% endblock %}
