{% extends "./layout-qa.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include 'includes/back-link.html' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if data['bespoke-guidance'] == 'true' %}
      <article class="featured featured--action">
        <div class="featured-wrapper">
        <h1 class="govuk-heading-xl article-title govuk-!-margin-bottom-2">
          Your personalised guide to apprenticeships
          {% if data['business-name'] %}
          <span class="govuk-caption-xl govuk-!-margin-top-3">
            <span class="govuk-visually-hidden">Created for: </span>
            {{ data['business-name'] }}
          </span>
          {% endif %}
        </h1>
      </div>
      </article>
      {% else %}
      <h1 class="govuk-heading-xl">
        Apprenticeship guidance for employers
      </h1>
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Introduction to apprenticeships
          </h2>

          {% if data['bespoke-guidance'] == 'true' %}
          <div class="app-task-list__description">
            <p>
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                your business does not currently employ any apprentices
              </li>
              <li>
                you have not decided which apprenticeship(s) will be best suited to your business
              </li>
            </ul>
          </div>
          {% endif %}

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="guidance/what-is-an-apprenticeship" aria-describedby="eligibility-completed">
                What is an apprenticeship
              </a>

              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                What is an apprentice
              </a>

              {% if data['section-1-2'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">
                Completed
              </strong>
              {% endif %}

            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Frameworks and standards
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Choosing the right apprenticeship
          </h2>

          {% if data['bespoke-guidance'] == 'true' %}
          <div class="app-task-list__description">
            <p>
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                your business does not pay the levy
              </li>
              <li>
                your business does not currently employ any apprentices
              </li>
            </ul>
          </div>
          {% endif %}

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                How are apprenticeships different?
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Equivalent qualifications
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-!-font-weight-bold" href="#" aria-describedby="company-information-completed">
                Find apprenticeship training
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apprenticeship costs and funding
          </h2>

          {% if data['bespoke-guidance'] == 'true' %}
          <div class="app-task-list__description">
            <p>
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                your business does not pay the levy
              </li>
              <li>
                your business does not currently employ any apprentices
              </li>
            </ul>
          </div>
          {% endif %}

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                How much does it cost to employ an apprentice
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Apprenticeship costs for levy-paying businesses
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-!-font-weight-bold" href="#" aria-describedby="company-information-completed">
                Estimate apprenticeship costs
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Finding an apprentice
          </h2>

          {% if data['bespoke-guidance'] == 'true' %}
          <div class="app-task-list__description">
            <p>
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                your business does not pay the levy
              </li>
              <li>
                your business does not currently employ any apprentices
              </li>
            </ul>
          </div>
          {% endif %}

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                How much does it cost to employ an apprentice
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Apprenticeship costs for levy-paying businesses
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-!-font-weight-bold" href="#" aria-describedby="company-information-completed">
                Recruit an apprentice
              </a>
              {% if data['section-1-1'] == 'completed' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Register
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-!-font-weight-bold" href="https://manage-apprenticeships.service.gov.uk/service/whatYoullNeed" target="_blank">
                Sign up to the Manage apprenticeships service
              </a>
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">
      {% if data['bespoke-guidance'] == 'true' %}
      <div class="app-related-items">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
          Share your guide          
        </h2>

        <p class="govuk-body-s govuk-!-margin-bottom-0">
          You can share your personalised guide to apprenticeships with other people using this link:
        </p>

        <div class="govuk-inset-text govuk-!-font-size-16 govuk-!-margin-top-2">
          <a href="">https://gov.uk/apprenticeships/guide/HS822JNQ</a>
        </div>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
          Print          
        </h2>

        <p class="govuk-body-s">
          You can also <a href="#">download your guide as a PDF document</a>.
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
