{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<article class="featured featured--action">
		<div class="featured-wrapper">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h1 class="govuk-heading-xl article-title govuk-!-margin-bottom-6">
						<span class="govuk-caption-l">
							Get started
						</span>
						<a href="/{{feature}}/{{sprint}}/what-is-an-apprenticeship">What is an apprenticeship?</a>
					</h1>

					<p class="govuk-body-l">
						Find out more about what an apprenticeship is and how they’re structured - additionally, which different levels of apprenticeships are available for your business. 
					</p>

					<p>
						<a href="/{{feature}}/{{sprint}}/what-is-an-apprenticeship" class="govuk-button govuk-button--start">
							Read more
						</a>
					</p>
				</div>

				<div class="govuk-grid-column-one-third">
					<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
				</div>
			</div>
		</div>
	</article>

	<hr class="govuk-section-break govuk-section-break--xl">

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">How much do Apprenticeships cost employers?</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				How to fund your apprenticeships, whether you’re a levy-paying employer, a small employer who doesn’t pay the levy, or an employer who’s receiving a transfer of apprenticeship funds.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="#">Things you need to know</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				How to fund your apprenticeships, whether you’re a levy-paying employer, a small employer who doesn’t pay the levy, or an employer who’s receiving a transfer of apprenticeship funds.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="#">Find apprenticeship training</a>
					</h1>

					<p>
						<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
					</p>

					<p>
						Est in dolore amet eu dolore qui non veniam.
					</p>
					<p>
						Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
					</p>

					<p>
						<a href="#">
							Read more
						</a>
					</p>
				</div>
			</article>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="#">Find a Training provider</a>
					</h1>

					<p>
						Lorem ipsum duis aliquip do labore consequat cillum ut aliqua ad qui occaecat fugiat irure cupidatat ad ex proident anim culpa.
					</p>
					<p>
						Lorem ipsum voluptate in adipisicing nisi irure amet culpa irure labore qui cupidatat tempor.
					</p>

					<p>
						<a href="#" class="govuk-button">
							Find training provider
						</a>
					</p>
				</div>
			</article>
		</div>
		<!-- END HALF -->
	</div>
</main>

{% endblock %}
