{% extends "../../../layout.html" %}

{% set serviceName = "Estimate the cost of hiring an apprentice" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% include 'includes/back-link.html' %}
		
		{% block pageScripts %}
		<script>
			{% include './js/autocomplete.js' %}
			{% include './js/course-search.js' %}
		</script>
		{% endblock %}

		<form action="number-of-apprentices">
			<div class="govuk-form-group">
				<label class="govuk-form-label govuk-form-label-bold">
					Search for a claim category
				</label>

				{% set categories = ["Apprenticeships for starts before 1 May 2017", "Apprenticeships for starts on or after 1 May 2017","Apprenticeships for starts from 1 May 2017 (non-procured, non-levy contracts)","Apprenticeships funded under procured contracts for non-levy contracts","16 to 18 traineeships (not funded through a 16 to 19 contract)","Adult education – traineeships and ‘other learning’ (non-procured provision)", "Adult education – traineeships and ‘other learning’ (procured provision from 1 November 2017)","Advanced Learner Loans"] %}

				<div class="autocomplete-wrapper">
					<select class="autocomplete-element" name="eas-claim-{{claimId}}-category" id="eas-claim-{{loop.index}}-category">
						<option value="">Select a category</option>
						{% for category in categories %}
						<option {{"selected" if data['eas-claim-'+i+'-category'] == category}}>{{category}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			{% from "button/macro.njk" import govukButton %}

			{{ govukButton({
				text: "Continue"
			}) }}
		</form>
	</div>
</div>
{% endblock %}

