{% extends "layout.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include '../includes/_back-link.html' %}
			
			<h1 class="govuk-heading-xl">
				Funding your apprentice:
			</h1>

			<p>
				You can get help from the government to pay for apprenticeship training.
			</p>

			<p>
				The amount you get depends on whether you pay the apprenticeship levy or not. You pay the levy if you’re an employer with a <a href="https://www.gov.uk/guidance/pay-apprenticeship-levy">pay bill over £3 million each year</a>.
			</p>

			<p>
				Additional payments of £1,000 may be available to you and your training provider.  For example, when you take on an apprentice who’s between:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					16-18 years old
				</li>
				<li>
					19-24 years old and has previously been in care or who has a local authority education, health and care plan
				</li>
			</ul>

			<p>
				From August 2018, apprentices will receive a one off payment of £1000 from the government, if they have been in the care of the local authority.
			</p>

			<a href="non-levy" class="govuk-button">
				Continue
			</a>
		</div>
		
		<div class="govuk-grid-column-one-third">

		</div>
	</div>
</main>

{% endblock %}