{% extends "layout.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include '../includes/_back-link.html' %}
			
			<h1 class="govuk-heading-xl">
				If you don’t need to pay the levy
			</h1>

			<p>
				You pay 10% towards the cost of training and assessing your apprentice. 
			</p>

			<p>
				You need to:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					agree a payment schedule with the training organisation
				</li>
				<li>
					pay them directly for the training
				</li>
			</ul>

			<p>
				The government will pay the rest (90%) up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum</a>. They’ll pay it directly to the training organisation.
			</p>

			<a href="levy" class="govuk-button">
				Continue
			</a>
		</div>
		
		<div class="govuk-grid-column-one-third">

		</div>
	</div>
</main>

{% endblock %}