{% extends "../../../layout.html" %}

{% set serviceName = "Estimate the cost of hiring an apprentice" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{serviceName}}
		</h1>

		<p>
			This service is for employers who want to estimate the likely cost of taking on one or more apprentices.
		</p>

		<p>
			Before you use this service, you will need:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>do sint irure labore exercitation laborum occaecat officia cupidatat laborum</li>
			<li>accaecat in nisi occaecat laboris</li>
		</ul>

		<a href="estimator/registered-check" class="govuk-button govuk-button--start">
			Start
		</a>
	</div>
</div>
{% endblock %}


{
	[
	name: "The name"
	title: "jasdjasd"
	]
}