{% extends "./layout--non-gds.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<h2 class="govuk-heading-l">
	How are apprenticeships structured
</h2>

<p>
	Apprentices will spend at least 20% of their time on off-the-job training with your chosen training provider - either regular day release or block release and must be able to attend special training days or workshops.  
</p>

<p>
	On-the-job training helps an apprentice develop the specific skills for the workplace and they should be supported by a mentor.  
</p>

<p>
	Once an apprentice finishes their training they will be assessed by an independant End Point Assessment Organisation (EPAO) to show that they have completed the apprenticeship to the standard set by industry.
</p>
{% endblock %}