{% extends "./layout--non-gds.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include '../../includes/back-link.html' %}
			
			<form action="">
				{% from "radios/macro.njk" import govukRadios %}

				{{ govukRadios(
					{
						classes: "govuk-radios",
						idPrefix: "changed-name",
						name: "levy",
						fieldset:
						{
							legend:
							{
								text: "Does your business pay the apprenticeship levy?",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--l"
							}
						},
						hint:
						{
							html: 'You pay the levy if you’re an employer with a <a href="https://www.gov.uk/guidance/pay-apprenticeship-levy">pay bill over £3 million each year</a>.'
						},
						items: [
						{
							value: "true",
							text: "Yes"
						},
						{
							value: "false",
							text: "No"
						}
						]
					})
				}}

				<button type="submit" class="govuk-button">
					Continue
				</button>
			</form>
		</div>

		<div class="govuk-grid-column-one-third">

		</div>
	</div>
</main>

{% endblock %}