{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apprenticeships for employers
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Task name</span></th>
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Task status</span></th>
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Edit</span></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if not data['what-is-an-apprenticeship'] %}
          <th class="govuk-table__header" scope="row">
            <a href="what-is-an-apprenticeship">
              What is an apprenticeship
            </a>
          </th>
          
          <td class="govuk-table__cell "></td>
          {% else %}
          <th class="govuk-table__header" scope="row">
            {% if data['what-is-an-apprenticeship'] == 'saved' %}
              <a href="what-is-an-apprenticeship">
                What is an apprenticeship
              </a>
              {% else %}
              What is an apprenticeship
              {% endif %}
          </th>

          <td class="govuk-table__cell">
            {% if data['what-is-an-apprenticeship'] == 'saved' %}
            <strong class="govuk-tag govuk-tag--inactive app-task-list__task-completed">Incomplete</strong>
            {% else %}
            <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            {% endif %}
          </td>
          <td class="govuk-table__cell ">
            <a href="what-is-an-apprenticeship" class="govuk-!-font-size-16">Edit</a>
          </td>
          {% endif %}
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="apprenticeship-costs">
              How much will an apprenticeship cost me?
            </a>
          </th>            
          <td class="govuk-table__cell "></td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="#">
              Things you need to know
            </a>
          </th>           
          <td class="govuk-table__cell "></td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2">
      Once you have read and understand what's involved in taking on an apprentice, you can start taking on an apprentice.
    </p>

    <table class="govuk-table">        
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Task name</span></th>
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Task status</span></th>
          <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Edit</span></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="#">
              Find apprenticeship training
            </a>
          </th>           
          <td class="govuk-table__cell "></td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="#">
              Find a training provider
            </a>
          </th>           
          <td class="govuk-table__cell "></td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="#">
              Register
            </a>
          </th>           
          <td class="govuk-table__cell "></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}