{% extends "./layout--non-gds.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			What is an apprenticeship?
		</h1>

		<p>
			Find out more about what an apprenticeship is and how they’re structured - additionally, which different levels of apprenticeships are available for your business. 
		</p>

		<p>
			If you are an employer who wants to take on an apprentice, you should know the following:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				apprentices are aged 16 or over 
			</li>
			<li>
				they combine working with studying to gain skills and knowledge in a specific job  
			</li>
			<li>
				they can be new or current employees
			</li>
		</ul>

		<h2 class="govuk-heading-l">
			Overview
		</h2>

		<p>
			You can <a href="apprenticeship-costs">get government funding</a> to cover some of the cost of training and assessing an apprentice if you’re in England.
		</p>

		<p>
			You need to pay the apprentice a salary that doesn’t go below <a href="https://www.gov.uk/national-minimum-wage-rates">the minimum wage</a>.
		</p>

		<p>
			Your apprentice must:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				work with experienced staff
			</li>
			<li>
				learn job-specific skills
			</li>
			<li>
				study during their working week (for example, at a college or training organisation)
			</li>
		</ul>

		<form action="list">
			<input type="hidden" name="what-is-an-apprenticeship" value="started">
			<button type="submit" class="govuk-button govuk-!-margin-bottom-2">
				I have read and understand this content
			</button>
			<span class="govuk-hint">
				Next: Apprenticeship costs
			</span>
		</form>

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		<p>
			<a href="list?what-is-an-apprenticeship=saved">
				Save progress and return
			</a>
		</p>
	</div>

	<div class="govuk-grid-column-one-third">
		<div class="app-related-items">
			<h3 class="govuk-heading-m">
				Further reading
			</h3>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					<a href="apprenticeship-structure">How are apprenticeships structured</a>
				</li>
				<li>
					<a href="apprenticeship-levels">Apprenticeship levels</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}