{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Apprenticeships for employers
			</h1>

			<h2 class="govuk-heading-l">
				What is an apprenticeship?
			</h2>	
			
			<p>
				Ex labore sint reprehenderit ut elit elit duis magna dolor sit in laboris occaecat ullamco cillum ea sit quis eiusmod commodo sed esse et aute ad sunt dolore consectetur.
			</p>

			<h3 class="govuk-heading-m">
				What is an apprentice?
			</h3>	
			
			<p>
				Id exercitation id exercitation fugiat laborum aute in exercitation in ut ad aliquip pariatur elit labore sint dolore sint.
			</p>

			<p>
				<a href="#" class="govuk-button">Continue</a>
			</p>
		</div>

		<div class="govuk-grid-column-one-third">
			<aside class="app-related-items">
				<h2 class="govuk-heading-m">
					Related content
				</h2>

				<ul class="govuk-list">
					<li>
						<a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding">How to become an approved training provider and bid for funding</a>
					</li>
					<li>
						<a href="/{{version}}/support">
							Contact the ESFA service desk
						</a>
					</li>
			</aside>
		</div>
	</div>
</main>

{% endblock %}
