{% extends "./layout-qa.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Find out whether apprenticeships are right for your business
			</h1>

			<p>
				Laboris aliquip laboris consectetur fugiat nulla sunt dolore tempor qui ut cillum qui exercitation duis est qui pariatur sed.
			</p>

			<p>
				Amet excepteur ut do laboris proident consectetur veniam aliquip aliquip veniam labore sed in ex ut culpa ut in aliquip esse cillum et excepteur veniam veniam proident commodo.
			</p>

			<p>
				<a href="{{sprint}}/question-1" class="govuk-button govuk-button--start">
					Start
				</a>
			</p>

			<p>
				Or you can <a href="#">see a list of all guidance</a> instead.
			</p>
		</div>
	</div>
</main>

{% endblock %}
