{% extends "./layout-qa.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include 'includes/back-link.html' %}
			
			<h1 class="govuk-heading-xl">
				Tell us about your business
			</h1>

			{% from "radios/macro.njk" import govukRadios %}

			{{ govukRadios(
				{
					classes: "govuk-radios--inline",
					idPrefix: "found-apprentice",
					name: "found-apprentice",
					fieldset:
					{
						legend:
						{
							text: "Do you already know someone who is planning to start an apprenticeship with your business?",
							isPageHeading: no,
							classes: "govuk-fieldset__legend--m"
						}
					},
					hint:
					{
						html: 'Minim cillum ullamco tempor in laborum in quis quis.'
					},
					items:
					[
					{
						value: "yes",
						text: "Yes"
					},
					{
						value: "no",
						text: "No"
					}
					]
				})
			}}

			{{ govukRadios(
				{
					classes: "govuk-radios--inline",
					idPrefix: "found-apprentice",
					name: "found-apprentice",
					fieldset:
					{
						legend:
						{
							text: "Have you decided which apprenticeship(s) will be best suited to your business?",
							isPageHeading: no,
							classes: "govuk-fieldset__legend--m"
						}
					},
					hint:
					{
						html: 'Minim cillum ullamco tempor in laborum in quis quis.'
					},
					items:
					[
					{
						value: "yes",
						text: "Yes"
					},
					{
						value: "no",
						text: "No"
					}
					]
				})
			}}

			{{ govukRadios(
				{
					classes: "govuk-radios--inline",
					idPrefix: "found-apprentice",
					name: "found-apprentice",
					fieldset:
					{
						legend:
						{
							text: "Have you chosen a Training provider?",
							isPageHeading: no,
							classes: "govuk-fieldset__legend--m"
						}
					},
					hint:
					{
						html: 'Minim cillum ullamco tempor in laborum in quis quis.'
					},
					items:
					[
					{
						value: "yes",
						text: "Yes"
					},
					{
						value: "no",
						text: "No"
					}
					]
				})
			}}

			<p>
				<a href="summary" class="govuk-button">
					Continue
				</a>
			</p>
		</div>
	</div>
</main>

{% endblock %}
