{% extends "./layout-qa.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'includes/back-link.html' %}
      
      <h1 class="govuk-heading-xl">
        Apprenticeship guidance for your business
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> An introduction to apprenticeships
          </h2>

          <div style="margin-left:35px">
            <p class="govuk-body-s">
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet govuk-body-s">
              <li>
                your business does not currently employ any apprentices
              </li>
              <li>
                you have not decided which apprenticeship(s) will be best suited to your business
              </li>
            </ul>
          </div>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                What is an apprenticeship
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                What is an apprentice
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Frameworks and standards
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">
                Completed
              </strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Funding
          </h2>
          <div style="margin-left:35px">
            <p class="govuk-body-s">
              We thought this section would be relevant because you told us:
            </p>

            <ul class="govuk-list govuk-list--bullet govuk-body-s">
              <li>
                your business does not pay the levy
              </li>
              <li>
                your business does not currently employ any apprentices
              </li>
            </ul>
          </div>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                How much does it cost to employ an apprentice
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Apprenticeship costs for levy-paying businesses
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">
                Completed
              </strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Register
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://manage-apprenticeships.service.gov.uk/service/whatYoullNeed" target="_blank">
                Sign up to the Manage apprenticeships service
              </a>
            </li>
          </ul>
        </li>
      </ol>
      
      <p>
        <a href="#" class="govuk-button">
          Continue
        </a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
