{% extends "layout.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	<article class="featured">
		<div class="featured-wrapper">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
				</div>

				<div class="govuk-grid-column-two-thirds">
					<h1 class="govuk-heading-l article-title">
						<span class="govuk-caption-l">
							Get started
						</span>
						<a href="#">What is an apprenticeship?</a>
					</h1>

					<ul class="govuk-list govuk-list--bullet">
						<li>
							Overview
						</li>
						<li>
							Levels: Standards &amp; Frameworks
						</li>
						<li>
							How do they work?
						</li>
					</ul>

					<p>
						<a href="#">
							Read more
						</a>
					</p>
				</div>
			</div>
		</div>
	</article>

	<br>

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="#">How much do Apprenticeships cost employers?</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				Est in dolore amet eu dolore qui non veniam.
			</p>
			<p>
				Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="#">Things you need to know</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				Est in dolore amet eu dolore qui non veniam.
			</p>
			<p>
				Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->
	</div>

	<br><br>

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="#">Find an Apprenticeship</a>
					</h1>

					<p>
						<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
					</p>

					<p>
						Est in dolore amet eu dolore qui non veniam.
					</p>
					<p>
						Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
					</p>

					<p>
						<a href="#">
							Read more
						</a>
					</p>
				</div>
			</article>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="#">Find a Training provider</a>
					</h1>

					<p>
						Lorem ipsum duis aliquip do labore consequat cillum ut aliqua ad qui occaecat fugiat irure cupidatat ad ex proident anim culpa.
					</p>
					<p>
						Lorem ipsum voluptate in adipisicing nisi irure amet culpa irure labore qui cupidatat tempor.
					</p>

					<p>
						<a href="#" class="govuk-button">
							Find training provider
						</a>
					</p>
				</div>
			</article>
		</div>
		<!-- END HALF -->
	</div>
</main>

{% endblock %}
