{% extends "layout.html" %}

{% set serviceName = 'Apprenticeships for employers' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

	<br><br>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<h1 class="govuk-heading-xl">
				<img src="http://via.placeholder.com/600x400" width="100%">
			</h1>
		</div>

		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				<span class="govuk-caption-l">
					Get started
				</span>
				<a href="#">What is an apprenticeship?</a>
			</h1>
			
			<ul class="govuk-list govuk-list--bullet">
				<li>
					Overview
				</li>
				<li>
					Levels: Standards &amp; Frameworks
				</li>
				<li>
					How do they work?
				</li>
			</ul>

			<p>
				<a href="#" class="govuk-button">Read more</a>
			</p>
		</div>
	</div>

	<hr>
	<br><br>

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m">
				<a href="#">How much do Apprenticeships cost?</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400" width="100%">
			</p>

			<p>
				Est in dolore amet eu dolore qui non veniam.
			</p>
			<p>
				Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
			</p>

			<p>
				<a href="#" class="govuk-button">Read more</a>
			</p>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m">
				<a href="#">How much do Apprenticeships cost?</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400" width="100%">
			</p>

			<p>
				Est in dolore amet eu dolore qui non veniam.
			</p>
			<p>
				Est nulla commodo proident elit labore consequat non exercitation fugiat occaecat eiusmod.
			</p>

			<p>
				<a href="#" class="govuk-button">Read more</a>
			</p>
		</div>
		<!-- END HALF -->
	</div>
</main>

{% endblock %}
