{% extends "./layout--non-gds.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
<main id="content" role="main">
	<article class="featured featured--action">
		<div class="featured-wrapper">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h1 class="govuk-heading-xl article-title govuk-!-margin-bottom-6">
						<span class="govuk-caption-l">
							Employers' guide<span class="govuk-vsually-hidden">:</span>
						</span>
						<a href="/{{feature}}/{{sprint}}/question-1">Find out about apprenticeships</a>
					</h1>

					<p class="govuk-body-l">
						Find out more about what an apprenticeship is and how they’re structured - additionally, which different levels of apprenticeships are available for your business. 
					</p>

					<a href="/{{feature}}/{{sprint}}/question-1" class="govuk-button govuk-button--start app-button--inverted govuk-!-margin-bottom-2">
						Get started
					</a>
				</div>

				<div class="govuk-grid-column-one-third">
					<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
				</div>
			</div>
		</div>
	</article>

	<hr class="govuk-section-break govuk-section-break--xl">

	<h2 class="govuk-heading-l">
		More information about apprenticeships
	</h2>

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="/{{feature}}/{{sprint}}/apprenticeship-costs">How much do Apprenticeships cost employers?</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				How to fund your apprenticeships, whether you’re a levy-paying employer, a small employer who doesn’t pay the levy, or an employer who’s receiving a transfer of apprenticeship funds.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<h1 class="govuk-heading-m article-title">
				<a href="#">Things you need to know</a>
			</h1>

			<p>
				<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
			</p>

			<p>
				How to fund your apprenticeships, whether you’re a levy-paying employer, a small employer who doesn’t pay the levy, or an employer who’s receiving a transfer of apprenticeship funds.
			</p>

			<p>
				<a href="#">
					Read more
				</a>
			</p>
		</div>
		<!-- END HALF -->
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	<div class="govuk-grid-row">
		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">Find apprenticeship training</a>
					</h1>

					<p>
						<img src="http://via.placeholder.com/600x400/ccc/fff?text=Image" width="100%">
					</p>

					<p>
						For employers looking to take on apprentices.
					</p>

					<p>
						Use this service to:
					</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>
							search for apprenticeship training by job role or keyword
						</li>

						<li>
							find training providers who offer the apprenticeship training you choose
						</li>

						<li>
							find a named training provider you want to use
						</li>
					</ul>

					<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" class="govuk-button app-button--inverted">
						Find a training provider
					</a>
				</div>
			</article>
		</div>
		<!-- END HALF -->

		<!-- HALF -->
		<div class="govuk-grid-column-one-half">
			<article class="featured featured--action">
				<div class="featured-wrapper">
					<h1 class="govuk-heading-m article-title">
						<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank">Find a Training provider</a>
					</h1>

					<p>
						For employers looking to take on apprentices.
					</p>

					<p>
						Use this service to:
					</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>
							search for apprenticeship training by job role or keyword
						</li>

						<li>
							find training providers who offer the apprenticeship training you choose
						</li>

						<li>
							find a named training provider you want to use
						</li>
					</ul>

					<a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" class="govuk-button app-button--inverted">
						Find a training provider
					</a>
				</div>
			</article>
		</div>
		<!-- END HALF -->
	</div>
</main>

{% endblock %}
