
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'prototype-home' %}
{% set serviceName = "ESFA" %}

{% block main %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="govuk-heading-xl">
      All employers microsite (Team WIN)
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include 'summaries/microsite.html' %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {% include 'summaries/campaign.html' %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {% include 'summaries/branching.html' %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {% include 'summaries/basic-linear.html' %}

      </div>
    </div>
  </main>
</div>
{% endblock %}
